@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sen:wght@500;600;700;800&display=swap');
@import url(/assets/css/root.css);

.container-xl {
    max-width: 1170px !important;
}

/* nav-bar  */
.gap-36 {
    gap: 36px;
}

.gap-72 {
    gap: 72px;
}

nav ul li a {
    position: relative;
}

.underLine::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transition: .3s;
    background-color: red;
}

.underLine:hover::before {
    left: 0;
    width: 100%;
}

.p-19-34 {
    padding: 19px 34px;
}

.border-radius {
    border: 1.4px solid #F66F4D !important;
}

.border-radius:hover {
    border: 1.4px solid #F66F4D !important;
}

.bookNow:hover {
    color: white !important;
    background-color: var(--orange) !important;
    transition: 300ms;
}

.bookNow svg path {
    fill: #F66F4D;
}

.bookNow:hover svg path {
    fill: #FFFFFF;
}

/* section-1  */
.card1 {
    max-width: 500px !important;
    background: #FDFEFF !important;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05) !important;
}

.p-20-28 {
    padding: 20px 28px !important;
}
.search-icon{
    height: 54px;
    width: 54px;
    background: #F66F4D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: .4s;
}
.search-icon:hover{
background: #FDFEFF;
border: 2px solid #F66F4D;
box-shadow: 0 0 10px 2px #F66F4D;
}
.search-icon:hover svg path{
    stroke:#F66F4D;
}
.search-icon svg path{
    stroke:white;
    transition: .4s;
}

.border-right {
    border-right: 1px solid #EAEAEB;
}

.max-320 {
    max-width: 320px !important;
}

.max-260 {
    max-width: 260px !important;
}

.max-500 {
    max-width: 500px !important;
}

.cursr-pointer {
    cursor: pointer;
}

/* section-2  */
.p-30-26 {
    padding: 30px 30px 26px 26px !important;
}

.bg-white-70 {
    background: rgba(255, 255, 255, 0.70) !important;
}

.pt-40 {
    padding-top: 40px;
}

.pt-18 {
    padding-top: 18px;
}

.pt-58 {
    padding-top: 58px;
}

/* section-5  */
.p-10-20 {
    padding: 8px 25px !important;
}

.pt-28 {
    padding-top: 28px;
}

.bordr {
    border: 1px solid #3D3D3D !important;
}

.active-btn:focus {
    color: #FDFEFF !important;
    background-color: var(--black1) !important;
    border: 1px solid #2D3134 !important;
}

.pt-51 {
    padding-top: 51px;
}

.text-position {
    bottom: 5%;
}

.items>img {
    height: 100%;
    transition: all 300ms linear;
}

.items:hover>img {
    transform: scale(1.1);
}

/* section 6 */
.max-407 {
    max-width: 407px !important;
}

.pt-50 {
    padding-top: 50px;
}

.line {
    width: 67px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(160deg, #FFD482 13.35%, #FFBE82 118.92%);
    box-shadow: 0px 2px 6px 0px rgba(229, 137, 24, 0.15);
}

/* section-7  */

.bg-imgcream {
    background-image: url(/assets/img/bg-cream.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.max-400 {
    max-width: 400px !important;
}

.max-450 {
    max-width: 450px !important;
}

.p-23-26 {
    padding: 23px 26px !important;
}

.send-icon {
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    background-color: var(--orange);
    transition: .4s;
    border: 2px solid transparent;
}
.send-icon:hover{
    background: white;
    border: 2px solid #F66F4D;
}
.send-icon:hover svg path{
fill: #F66F4D;
transition: .4s;
}

.sendIcon {
    top: -2px;
    right: -5px;
}
.focus-ring {
    box-shadow: none !important;
}

/* footer  */
.max-141 {
    max-width: 141px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon-border {
    border: 1px solid #5B5F62;
}

.pt-22 {
    padding-top: 22px !important;
}

.footer-link::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transition: .3s;
    background-color: #2D3134;
}

.footer-link:hover::before {
    left: 0;
    width: 100%;
}

.hover-bs-black3:hover {
    color: var(--black1) !important;
}

.rounded-circle svg path {
    fill: #5B5F62;
}

.rounded-circle:hover svg path {
    fill: #F66F4D;
}

.icon-border:hover {
    border: 1px solid #F66F4D;
}

/* menu icon  */
.menu span {
    display: flex;
    width: 40px;
    height: 4px;
    margin-top: 7px;
    background-color: var(--orange);
    transition: .4s;
}

.span4 {
    rotate: 45deg;
    transition: .4s
}

.transition-4 {
    transition: .4s
}

.span5 {
    rotate: -45deg;
    position: relative;
    top: -10px;
    transition: .4s
}

.span6 {
    display: none !important;
    transition: .4s
}

@media (min-width:576px) {
    :root {
        /* font-size  */
        --fs-xxs: 10px;
        --fs-xs: 11px;
        --fs-sm: 13px;
        --fs-base: 15px;
        --fs-lg: 17px;
        --fs-xl: 19px;
        --fs-2xl: 18px;
        --fs-2xl1: 20px;
        --fs-3xl: 25px;
        --fs-3xl2: 26px;
        --fs-4xl: 30px;
        --fs-4xl2: 36px;
        --fs-5xl: 40px;
        --fs-6xl: 50px;
        --fs-8xl: 58px;
    }

    .img-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .img-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .img-3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .img-4 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .img-5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .img-6 {
        grid-row: 4/5;
        grid-column: 2/3;

    }
}

@media (min-width:768px) {
    :root {
        /* font-size  */
        --fs-xxs: 10px;
        --fs-xs: 11px;
        --fs-sm: 13px;
        --fs-base: 15px;
        --fs-lg: 17px;
        --fs-xl: 19px;
        --fs-2xl: 20px;
        --fs-2xl1: 22px;
        --fs-3xl: 28px;
        --fs-3xl2: 30px;
        --fs-4xl: 35px;
        --fs-4xl2: 40px;
        --fs-5xl: 46px;
        --fs-6xl: 54px;
        --fs-8xl: 64px;
    }

    .img-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .img-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .img-3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .img-4 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .img-5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .img-6 {
        grid-row: 4/5;
        grid-column: 2/3;

    }

    .pt-md-75 {
        padding-top: 75px;
    }
}

@media(min-width:992px) {
    .menu {
        display: none;
    }

    :root {
        /* font-size  */
        --fs-xxs: 12px;
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-base: 18px;
        --fs-lg: 20px;
        --fs-xl: 21px;
        --fs-2xl: 24px;
        --fs-2xl1: 26px;
        --fs-3xl: 32px;
        --fs-3xl2: 36px;
        --fs-4xl: 40px;
        --fs-4xl2: 46px;
        --fs-5xl: 56px;
        --fs-6xl: 64px;
        --fs-8xl: 84px;
    }

    .img-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .img-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .img-3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .img-4 {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .img-5 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .img-6 {
        grid-row: 2/3;
        grid-column: 4/5;

    }

    .pt-lg-95 {
        padding-top: 95px;
    }
}

@media(max-width:992px) {
    .mobileView {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--cream);
        right: -100%;
        transition: all 200ms linear;
        z-index: 3;
    }

    .mobileView.show {
        right: 0;
    }

    .menu {
        z-index: 4;
        cursor: pointer;
    }
}